*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container
{
    background-color: rgb(62, 60, 60);
    transition: all 2s linear;
    position: relative;
    width: 100%;
    height: 100%;
   
}
.time_countdown
{   position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 9;
}
.time_countdown .circle
{
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    position: relative;
}
.circle svg{
    width: 200px;
    height: 200px;
    position: relative;
}

.circle svg circle{
    width: 100%;
    height: 100%;
    stroke-width: 8px;
    fill: rgb(127, 117, 117);
    stroke: black;
}
.circle svg circle:nth-child(2)
{   
    stroke: var(--color);
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    /* Stroke-dasharray bằng chu vi của circle  */
    transform-origin: center;
    transform: rotate(-90deg);
    animation: filter_color 10s infinite linear;
}
@keyframes filter_color
{
    from
    {
        filter: hue-rotate(0deg);
    }
    to
    {
        filter: hue-rotate(360deg);

    }
}
.circle div:last-of-type
{   
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 36px;
    letter-spacing: 2px;
    color: white;
    font-weight: 600;

}
.circle div:last-of-type span
{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 5px;
    display: block;
}

.time_countdown .dot
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
}

.time_countdown .dot::before
{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--color);
    left: 50%;
    top: 11px;
    box-shadow: 0 0 10px var(--color),
    0 0 25px var(--color),
    0 0 35px rgb(203, 175, 11);
    transform: translateX(-50%);
}
.test_aspect_ratio
{
    /* width: 50%; */
    background-color: aqua;
    text-align: center;
    /* background-image: url('https://m5.gs/QUpJb0'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* aspect-ratio: 1/1; */
    padding-top: 56.25%; 
}
.test_aspect_ratio img
{
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/* Congratulations */

.congratulations
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top, rgb(171, 193, 25),rgb(8, 240, 8));
    -webkit-background-clip: text;
    background-clip: text;
    animation: changeColor 3s alternate infinite;
    transition: all 2s linear;
    z-index: 1;

}
.container .list_img
{
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
.list_img .cat-happyNY
{ 
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 30px;
    z-index: 3;
    object-fit: cover;
    transform: rotateY(180deg);
}
.list_img .hoamai-happyNY
{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    right: -8px;
    z-index: 3;
    object-fit: cover;
    transform: rotateZ(115deg);

}
.list_img .hoadao-happyNY
{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -35px;
    left: 8px;
    z-index: 3;
    object-fit: contain;
    transform: rotateY(180deg) rotateX(180deg);
}

.congratulations p
{
    color: transparent;
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    user-select: none;
}
@keyframes changeColor
{
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.congratulations p::before{
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: green;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 0 25px red,
    0 0 45px greenyellow, 0 0 60px blue, 0 0 75px greenyellow;
    animation: moveBall 2s linear;
}
@keyframes moveBall
{
    from{
        transform: translateX(-50%) translateY(-200px);
    }
    to{
        transform: translateX(-50%);
    }
}



@media (max-width: 600px) {
    body{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: aqua;
    }
    .container
    {
        width: 100vw;
        height: 105vh;
        margin-top: -20px;
        overflow: hidden;
    }
    .congratulations p
    {
        font-size: 5rem;
    }
    .time_countdown{
        flex-wrap: wrap;
    }
    .list_img .cat-happyNY, .list_img .hoamai-happyNY
    {
        width: 100px;
        height: 100px;
    }
    .list_img .cat-happyNY
    {
        top: 20px;
        left: 5px;
    }
    .list_img .hoamai-happyNY
    {
        top: 20px;
        right: 5px;
    }
    .list_img .hoadao-happyNY
    {
        width: 200px;
        height: 200px;
        right: 20px;
        bottom: 15px;
    }
}