*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(123, 113, 113);
}

.clock
{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    margin: 150px auto;
    position: relative;
    overflow: hidden;
    border: 10px solid rgb(200, 206, 7);
    box-shadow: 0 0 25px 5px greenyellow;
}
.clock::before
{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 10;
}

.clock .number{
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: right bottom;
    transform: rotate(calc((var(--i) + 1) * 30deg)) translateY(-70px);
}
.clock .number span{
    user-select: none;
    text-align: center;
}
.clock :not(div:nth-child(3n)) span
{
    transform: rotate(-30deg);
    user-select: none;
    font-weight: 900;
    background-color: black;
    width: 3px;
    height: 25px;
    position: relative;
    left: 12.5px;
}
.clock div:nth-child(3n) span
{   
    position: absolute;
    font-size: 40px;
    font-weight: 700;
}

.clock div:nth-child(3) span{
    transform: rotate(-120deg);
    width: 50px; 
    display: inline-block;
    left: 110px;

}
.clock div:nth-child(6) span{
    transform: rotate(150deg);
    left: 126px;
}
.clock div:nth-child(9) span{
    transform: rotate(60deg);
    left: 115px;   
    display: inline-block;
    width: 50px; 
}
.clock div:nth-child(12) span{
    left: 115px;
    transform: rotate(-30deg);

}


.hours ,.minutes, .seconds
{
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hh , #mm , #ss {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hh::before
{
    content: "";
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: red;
    top: calc(50% - 100px);
    border-radius: 50px 50px 0 0;
    z-index: 7;
}
#mm::before
{   
    content: "";
    position: absolute;
    width: 10px;
    height: 150px;
    background-color: rgb(24, 222, 14);
    top: calc(50% - 150px);
    z-index: 8;
    border-radius: 50px 50px 0 0;
}
#ss::before
{   
    content: "";
    position: absolute;
    width: 5px;
    height: 250px;
    background-color: rgb(15, 15, 15);
    top: calc(50% - 75px);
    z-index: 9;
}